
body {
	font-family: Lato, arial, sans-serif; 
	margin:0;
	color: #333;
}

a, a:visited {
	color: #CBB23F;
text-decoration:none;
}

a:hover {
	color: #816D13;
}

.container {
	margin: 0 auto;
}

.nav {
	padding:20px 0 50px 0;
	margin: 0  auto; 
	width: 430px;
	text-align: center;
	font-weight:300;
	font-size:16px;
}

.nav .selected {
	font-weight:400;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	display:inline-block;
}

.nav li {
	display: inline-block;
	padding: 0 25px;
}

.links {
	display:block;
}


.footer {
	padding: 30px 165px 0 165px;
	width: 100px;
	height: 100px;
}

.content {
	width: 430px;
	margin: 0 auto;
	margin-top:50px;
}

.water {
	background-image: url("images/exclusive-paper.png");
	height: 408px;
	margin: 0 auto;
	margin-top:130px;
	text-align:center;
}

.water img {
	position:relative;
	top: -35px;
	}

.grad {
/*background: -webkit-linear-gradient(90deg, black, white);  
background: -o-linear-gradient(90deg, black, white);  
background: -moz-linear-gradient(90deg, black, white); 
background: linear-gradient(90deg, black, white); */
}


/****** ABOUT PAGE *********/

.container {
	margin: 0 auto;
	width: 430px;
	font-weight:300;
}

.us {
	padding: 20px 0px;
	width: 430px;
	height: 430px;
}

strong {
	font-weight: 400;
}


/****** SOAP PAGE *********/


.soap {
	width: 49%; 
	padding-bottom:20px;
}

.container ul li {
margin-bottom:15px;
margin-left: 25px;
margin-right: 25px;
}

h2 {
font-size: 15px;
text-transform: uppercase;
font-weight:500;
margin-top: 24px;
margin-bottom:8px;
}

ul span {
text-transform: uppercase;
font-weight:500;
font-size: 14px;
}